body {
    background-color: #262626;
    font-family: "Inter", sans-serif;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    background-image: url(/img/Navrh-interieru.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45%;
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 40px 40px 0 40px;
}

main {
    padding: 50px 20px 50px 20px;
}

footer {
    height: 120px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
}

.technologies img {

    opacity: .5;
    transition: opacity 0.2s ease-in-out;
}

.technologies img:hover {
    opacity: 1;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-menu a {
    font-size: 23px;
    color: #262626;
    font-weight: 600;
    padding-bottom: 5px;

    position: relative;
    transition: color 0.3s ease-in-out;
}

.footer-menu a:hover {
    color: indianred;
}

.footer-menu a:before {
    position: absolute;
    bottom: 0;
    left: 50%;

    content: "";
    height: 2px;
    width: 0;
    background-color: indianred;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.footer-menu a:hover:before {
    width: 100%;
    left: 0;
}

.social-icons {
    padding-left: 20px;
    display: inline-flex;
    gap: 12px;
}

.social-icons i {
    color: #262626;
    transition: color 0.3s ease-in-out;
}

.social-icons i:hover {
    color: indianred;
}