body {
    background-color: #262626;
    font-family: "Inter", sans-serif;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    background-image: url(/img/o-nas.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45%;
    position: relative;
}

.lg-mbtn {
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 40px 40px 0 40px;
}

header h1 {
    font-size: 60px;
    position: absolute;
    bottom: 25px;
    left: 60px;
}

.about-us {
    max-width: 445px;
    background-color: #fff;
    color: #262626;
}