body {
    background-color: #262626;
    font-family: "Inter", sans-serif;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    background-image: url(/img/Projekty.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45%;
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 40px 40px 0 40px;
}

main {
    padding: 50px 20px 50px 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.interior {
    position: relative;
}

.interior h2 {
    z-index: 2;
    position: absolute;
    bottom: 20px;
    left: 10px;
}


@media (max-width: 1024px) {
    header {
        height: 35%;
    }
}


@media (max-width: 420px) {
    header {
        background-image: none;
        height: auto;
    }
}



