@import "../variables";
@import "../mixins";
@include menu-styles;
@include link;

body {
    background-image: url(/img/home.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    color: $secondary-color;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 40px 40px 0 40px;
}

.logo {
    font-size: 35px;
    font-weight: 700;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;    
    margin: 50px 50px 0px 50px;
}

.text-container {
    width: clamp(200px, 50vw, 800px);
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons {
    display: flex;
    gap: 25px;
    list-style: none;
    justify-content: center;
}

.social-icons li {
    transition: transform 0.5s ease-in-out;
}

.social-icons li:hover,
.social-icons li:focus {
    transform: translateY(-10px);
    bottom: 100px;
}